body {
  background: #50e3c2;
}

.container {
  margin: 50px auto;
  width: 450px;
  background: #f7f7f7;
  color: #ABABAB;
  font-family: Lato, sans-serif;
  box-shadow: 0px 0px 107px 8px #f50cd2;
}

.app {
  width: 80%;
  height: auto;
  margin: 0 auto;
  text-align: left;
}

h1 {
  text-align: center;
  font-size: 64px;
  font-weight: 300;
  padding: 30px 0;
  margin: 0;
}

form {
  display: flex;
  height: 40px;
}

input,
button {
  box-sizing: border-box;
  flex: 1 0 auto;
  height: 50px;
  width: 80%;
}

button {
  border: none;
  font-size: 26px;
  background: #df69e8;
  color: white;
  width: 20%;
}

ul {
  font: Lato, sans-serif;
  color: #ABABAB;
  list-style-type: none;
  padding: 0 0 40px 0;
  line-height: 2.2em;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  font-size: 26px;
  max-height: 70px;
}

li:checked {
  color: grey;
}

span:hover {
  background: pink;
}

.options {
  min-width: 67px;
}

.option-delete,
.option-check {
  display: inline-block;
  width: 30px;
  height: 100%;
}

.option-delete {
  background: url("bin.png") no-repeat center;
}

.option-delete:hover {
  transform: rotateZ(-30deg);
}

.option-check {
  border-radius: 50%;
}
